$v-layout-margin-top: 20px;
$v-layout-margin-bottom: 20px;
$v-layout-margin-left: 20px;
$v-layout-margin-right: 20px;

$v-unit-size: 36px;
$v-font-size: 16px;

@import "../valo/valo";
@import "ilves_login";
@import "ilves_valo";
@import "ilves_flow";

$page-color: #F8F8F8;
$application-background-color: #FFFFFF;

.v-generated-body {
  margin: auto;
  max-width: 1200px;
  background-color: #333;
}

hr {
  border: 0;
  height: 1px;
  background-color: #d4d4d4;
}

@mixin ilves {

  @include valo;
  @include ilves_login;
  @include ilves_valo;
  @include ilves_flow;

  &.v-app {
    background: $application-background-color;
    color: #464646;
    cursor: default;
  }

  div.ui-content {
    h1 {
      font-size: 2em;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    h2 {
      font-size: 1.5em;
      margin-top: 8px;
      margin-bottom: 0px;
    }
  }

  .v-caption .v-required-field-indicator {
    display: inline-block;
    color: black;
    padding-top: 2px;
  }

  div.wiki-content {
    overflow: hidden;
    h1 {
      font-size: 2.4em;
      margin-top: 1.4em;
      margin-bottom: 1em;
    }

    h2 {
      font-size: 1.6em;
      margin-top: 1.6em;
      margin-bottom: 0.77em;
    }
  }

  .image-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 4px 4px 4px 4px;
    background-image: url('button/img/image-button.png');
  }

  .image-button:focus {
    background-image: url('button/img/image-button-focused.png');
  }

  .image-button:active {
    background-image: url('button/img/image-button-pressed.png');
  }

  .image-button-on {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 4px 4px 4px 4px;
    background-image: url('button/img/image-button-on.png');
  }

  .image-button-on:focus {
    background-image: url('button/img/image-button-focused.png');
  }

  .image-button-on:active {
    background-image: url('button/img/image-button-pressed.png');
  }

}