$v-layout-margin-top: 20px;
$v-layout-margin-bottom: 20px;
$v-layout-margin-left: 20px;
$v-layout-margin-right: 20px;

$v-unit-size: 30px;
$v-font-size: 14px;

@import "../valo/valo";

$application-background-color: #FFFFFF;

$header-background-color: #4b4b4b;

$logo-background-color: #FFFFFF;
$navigation-background-color: #FFFFFF;
$profile-background-color: #FFFFFF;

$content-color: #F8F8F8;
$page-color: #F8F8F8;

$footer-color: #DDDDDD;

@mixin ilves {

  @include valo;

  &.v-app {
    background: $application-background-color;
  }

  div#ilves-header-wrapper {
    background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
    height: 52px;
  }

  div#ilves-header {
    width: 1000px;
    margin: 0 auto;
    height: 52px
  }

  div#ilves-logo-wrapper {
    background: $logo-background-color;
    margin: 6px 0px 6px 0px;
    border: 0px;
    border-radius: 6px;
    float: left;
    width: 40px;
    height: 40px
  }

  div#ilves-logo {
    margin-top: 4px
  }

  div#ilves-profile-wrapper {
    background: $profile-background-color;
    margin: 6px 0px 6px 0px;
    border: 0px;
    border-radius: 6px;
    float: right;
    width: 40px;
    height: 40px
  }

  div#ilves-profile {
    margin: 4px 4px 4px 4px
  }

  div#ilves-navigation-wrapper {
    background: $navigation-background-color;
    margin: 6px 0px 6px 6px;
    border: 0px;
    border-radius: 6px;
    float: left;
    width: 908px;
    height: 40px;
//    font-weight: bold
  }

  div#ilves-navigation {
    margin-left: 8px
  }

  div#ilves-container {
    width: 1000px;
    margin: 0 auto
  }

  div#ilves-content-wrapper {
    margin: 12px 0px 12px 0px;
  }

  div#ilves-content {
    background: $content-color;
    border: 0px;
    border-radius: 6px;
    padding: 20px;
  }

  div#ilves-footer-wrapper {
    background: $footer-color;
    clear: both;
    width: 100%;
    min-height: 20px;
    border: 0px solid;
    border-radius: 10px;
  }

  div#ilves-footer {
    padding: 8px;
  }

  div.company-footer-label {
    text-align: center;
  }

  h1 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .v-tabsheet-tabsheetpanel {
    background: $page-color;
  }

  .v-tabsheet-deco, .white .v-tabsheet-deco {
    border-top: 0px;
  }

  .white .v-panel .v-panel-content {
    background:$page-color;
  }

  .dashboard {
    background: $page-color;
  }

  .v-table-body {
    border: 1px solid #eee;
  }

  .v-caption .v-icon {
    display: inline-block;
    padding-right: 2px;
    vertical-align: top;
  }

  .v-button .v-icon {
    vertical-align: text-top;
    margin-right: 3px;
    border: none;
    width: 20px;
    height: 20px;
  }

  .v-caption .v-required-field-indicator {
    display: inline-block;
    color: black;
    padding-top: 2px;
  }

  .v-colorpicker-button-color {
    margin-right: 0px;
  }

/*
  .v-button-link:focus .v-button-caption {
    outline: none;
  }

  .v-button-link .v-button-caption {
    line-height: inherit;
    font-weight: normal;
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    text-decoration: none;
    text-align: left;
  }
*/
  .image-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 4px 4px 4px 4px;
    background-image: url('button/img/image-button.png');
  }

  .image-button:focus {
    background-image: url('button/img/image-button-focused.png');
  }

  .image-button:active {
    background-image: url('button/img/image-button-pressed.png');
  }

  /*

  .horizontal-navigation-logout {
    float: right;
    margin-right: 10px;
  }

  .horizontal-navigation-login {
    float: right;
    margin-right: 10px;
  }
  .menu-bar-navigation {
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
    background: $navigation-background-color;
  }

  .menu-bar-navigation .v-menubar-menuitem:hover {
    color: #999999;
    cursor: pointer;
    cursor: hand;
  }
  .menu-bar-navigation .v-menubar-menuitem-selected, .v-menubar-submenu .v-menubar-menuitem-selected {
    color: #999999;
    text-shadow: 0 1px 0 #FFFFFF;
    background: $navigation-background-color;
  }

  .menu-bar-navigation .v-menubar-menuitem-caption .v-icon {
    margin-right: 6px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
  }*/

  .v-menubar-menu-bar-navigation {
    height: 40px;
  }

  .menu-bar-navigation .v-menubar-menuitem-caption {
    line-height: 40px;
  }
  .menu-bar-navigation .v-menubar-menuitem-caption .v-icon {
    width: 24px;
    height: 24px;
    margin-top: -4px;
    margin-right: 6px;
    margin-left: 4px;
  }

  .menu-bar-navigation .v-menubar-menuitem-navigation-login {
    float: right;
    margin-right: 10px;
  }

  .menu-bar-navigation .v-menubar-menuitem-navigation-logout {
    float: right;
    margin-right: 10px;
  }

  div.gravatar a img {
    width: 32px;
    height: 32px;
  }

  div.wiki-content {
    overflow: hidden;
  }
}