@mixin ilves_flow {
  div.flow-top {
    padding-bottom: 20px;
    div.v-label {
      padding: 6px 12px 6px 12px;
    }
  }
  div.flow-bottom {
    padding-top: 20px;
    div.v-label {
      padding: 6px 12px 6px 12px;
    }
  }
}