$v-layout-margin-top: 20px;
$v-layout-margin-bottom: 20px;
$v-layout-margin-left: 20px;
$v-layout-margin-right: 20px;

$v-unit-size: 40px;
$v-font-size: 14px;

@import "../valo/valo";

$application-background-color: #FFFFFF;

$header-background-color: #4b4b4b;

$logo-background-color: #FFFFFF;
$navigation-background-color: #FFFFFF;
$profile-background-color: #FFFFFF;

$content-color: #F8F8F8;
$page-color: #F8F8F8;

$footer-color: #DDDDDD;

@mixin blue-vertical-gradient($beginColor, $endColor) {
  background: $endColor;
  background: -moz-linear-gradient(top, $beginColor 2%, $endColor 98%);
  background: -webkit-gradient(linear, left top, right top, color-stop(2%,$beginColor), color-stop(98%,$endColor));
  background-image: -webkit-linear-gradient(top, $beginColor 2%, $endColor 98%);
  background: -o-linear-gradient(top, $beginColor 2%, $endColor 98%);
  background: -ms-linear-gradient(top, $beginColor 2%, $endColor 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$beginColor', endColorstr='$endColor',GradientType=1 );
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$beginColor', endColorstr='$endColor',GradientType=1 );
  background: -ms-linear-gradient(top, $beginColor 2%, $endColor 98%);
}

@mixin ilves {

  @include valo;

  &.v-app {
    background: $application-background-color;
    color: #464646;
    cursor: default;
  }

  input.ilves-login-username {
    margin-bottom: 10px;
    width: 250px;
  }

  input.ilves-login-password {
    margin-bottom: 10px;
    width: 250px;
  }

  input.ilves-login-button {
    margin-bottom: 10px;
    width: 250px;
  }

  .v-tabsheet-tabsheetpanel {
    background: $page-color;
  }

  .v-tabsheet-deco, .white .v-tabsheet-deco {
    border-top: 0px;
  }

  .white .v-panel .v-panel-content {
    background:$page-color;
  }

  .dashboard {
    background: $page-color;
  }

  .v-table-body {
    border: 1px solid #eee;
  }

  .v-caption .v-required-field-indicator {
    display: inline-block;
    color: black;
    padding-top: 2px;
  }

  .v-colorpicker-button-color {
    margin-right: 0px;
  }

  .v-datefield-button-readonly {
    visibility: hidden;
  }

  .image-button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 4px 4px 4px 4px;
    background-image: url('button/img/image-button.png');
  }

  .image-button:focus {
    background-image: url('button/img/image-button-focused.png');
  }

  .image-button:active {
    background-image: url('button/img/image-button-pressed.png');
  }

  div.gravatar a img {
    width: 32px;
    height: 32px;
  }

  div.wiki-content {
    overflow: hidden;
  }

  h1 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 8px;
    margin-bottom: 0px;
  }


  .v-caption .v-icon {
    display: inline-block;
    padding-right: 2px;
    vertical-align: top;
  }

  .v-menubar-user-menu > .v-menubar-menuitem img.v-icon {
    width: 45px;
    height: 45px;
    border-radius: 14px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    display: block;
    margin: 0 auto 0.3em;
    border: 5px solid #555;
  }

  .valo-content {
    padding: 20px;
    background-color: $page-color;
  }

  .valo-menu-item .v-icon {
    width: 32px;
    height: 32px;
  }

}