@import url(../reindeer/legacy-styles.css);

/* Application background */
.v-app {
	background: rgb(249,249,249);
}
.v-tabsheet-tabsheetpanel {
    background: rgb(249,249,249);
}
.v-tabsheet-deco, .white .v-tabsheet-deco {
    border-top: 0px;
}
.white .v-panel .v-panel-content {
    background: rgb(249,249,249);
}
