<div id="shield-header">

    <div id="shield-shield-header-shield-content">

        <div id="shield-logo">
            <div id="shield-logo-margin" location="logo"></div>
        </div>

        <div id="shield-navigation">
            <div id="shield-navigation-margin" location="navigation"></div>
        </div>

        <div id="shield-profile">
            <div id="shield-profile-margin" location="profile">T</div>
        </div>

    </div>

</div>

<div id="shield-container">

    <div id="shield-content-wrapper">
        <div id="shield-content">
            <div id="shield-content-margin" location="content"></div>
        </div>
    </div>

    <div id="shield-footer"><div id="shield-footer-content" location="footer"></div></div>

</div>