div#shield-header
    div#shield-header-margin
        div#shield-logo
            div#shield-logo-margin(location="logo")
        div#shield-navigation
            div#shield-navigation-margin(location="navigation")
        div#shield-profile
            div#shield-profile-margin(location="profile")
div#shield-container
    div#shield-content-wrapper
        div#shield-content
            div#shield-content-margin(location="content")
    div#shield-footer
        div#shield-footer-content(location="footer")
