div#ilves-header-wrapper
    div#ilves-header
        div#ilves-logo-wrapper
            div#ilves-logo(location="logo")
        div#ilves-navigation-wrapper
            div#ilves-navigation(location="navigation")
        div#ilves-profile-wrapper
            div#ilves-profile(location="profile")
div#ilves-container
    div#ilves-content-wrapper
        div#ilves-content(location="content")
    div#ilves-footer-wrapper
        div#ilves-footer(location="footer")
