form(action="#!login",method="post")
    input.v-textfield.v-widget.v-has-width(type="text", id="username", name="username", style="width: 250px;margin-bottom: 10px;")
    br
    input.v-textfield.v-widget.v-has-width(type="password", id="password", name="password", style="width: 250px;margin-bottom: 10px;")
    br
    input(type="submit", value="LOGIN", style="padding: 6px;")
