form.ilves-login(action="#!login",method="post")
    input.ilves-login-username.v-textfield.v-widget.v-has-width(type="text", id="username", name="username")
    br
    input.ilves-login-password.v-textfield.v-widget.v-has-width(type="password", id="password", name="password")
    br
    input.ilves-login-button.v-button-primary(type="submit", value="LOGIN")
