form.ilves-login(action="#!login",method="post")
    label(for="username") USERNAME_LABEL
    input.ilves-login-username.v-textfield.v-widget.v-has-width(type="text", id="username", name="username")
    br
    label(for="password") PASSWORD_LABEL
    input.ilves-login-password.v-textfield.v-widget.v-has-width(type="password", id="password", name="password")
    br
    label(for="code") CODE_LABEL
    input.ilves-login-password.v-textfield.v-widget.v-has-width(type="password", id="code", name="code")
    br
    input.ilves-login-button.v-button-primary(type="submit", value="LOGIN")
    br
    input(type="hidden", id="uiTransactionId", name="uiTransactionId", value="UITRANSACTIONID")
