form.ilves-login(id="loginForm",action="uuid",method="post",target="loginTarget")
    label.v-caption(for="username") USERNAME_LABEL
    input.ilves-login-username.v-textfield.v-widget.v-has-width(type="text", id="username", name="username")
    br
    label.v-caption(for="password") PASSWORD_LABEL
    input.ilves-login-password.v-textfield.v-widget.v-has-width(type="password", id="password", name="password")

iframe(src="uuid",id="loginTarget",name="loginTarget",style="display:none")
